* {
  /* reset */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: initial;
  font-weight: initial;        
}

html,
body {
  display: flex;
  flex-direction: column;        
}

html {
  align-items: center;
}

body {
  width: 80%;
}

section {
  display: flex;
  height: 100%;
}

header {
  width: 300px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  padding-right: .5em;
}

header > a {
  margin-bottom: .75em;
}

img {
  width: fit-content;
  border-radius: 4px;
}

h1,
b,
h2 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: bold;
}      

b {
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: .5em;
}

p,
span,
a,
li {
  font-family: 'Open-Sans', sans-serif;
}

p,
span {
  font-size: 20px;
}

.fas {
  display: block;
  width: 25px;
}

a {
  font-size: 16px;
  margin-top: .5em;
}

#root {
  margin-left: 320px;
  width: 80%;  
}

#root > div {
  margin: 1.75em 1.75em 1.75em 0;
  display: flex;
  flex-direction: column;        
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  margin-top: 1em;
}

#date {
  margin: 2em 0;
  align-self: center;
}

ul {
  list-style-type: none;
}

li {
  margin-top: .5em;
}

hr {
  margin-bottom: .75em;
}

.header-img {
  background-image: url('./header.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
}

@media screen and (max-width: 862px){
  body {
    width: 94%;
  }

  hr {
    display: none;
  }

  header {
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
  }

  header > div {
    margin-right: 20px;
  }

  section {
    flex-direction: column;
  }

  #root { 
    width: 100%;
    margin: 0;
    padding-top: 1em;
  }

  #root > div {
    margin-top: 1em;
  }

  footer {
    text-align: left;
    align-items: flex-start;
  }
}
