html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
a,
p,
h3,
li,
small,
hr,
summary,
details {
  color: #DEDEDE !important;
}

small {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

hr {
  background: #DEDEDE !important;
}

.h1 {
  font-size: 80px !important;
}

h3 {  
  margin-bottom: 0 !important;
}

button {
  background: none !important;
  border: none !important;
}